.d-header {
  &.hide-menus {
    .headerLink:not(.keep) {
      display: none;
    }
  }
}

.custom-header-links {
  display: inline-flex;
  align-items: center;
  margin: 0;
  .headerLink {
    list-style: none;
    a {
      padding: 3px 5px;
      margin: 3px 5px;
      font-family: 'Montserrat';
      text-align : center;
      font-size: 0.98em;
      width: 100%;
      display: inline-block;
      color: var(--header_primary);
      
      &:hover {
        background-color: var(--tertiary);
        border-radius: 1em;
        color: white;
      }
    }
  }
}

.desktop-view .vmo,
.mobile-view .vdo {
  display: none !important;
}

@if $links_position == left {
  .custom-header-links {
    margin-left: 1em;
  }
  .hide-menus {
    .custom-header-links {
      display: none;
    }
  }
}
